.App {
  background-color: black;
  color: white;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  border-bottom: 1px solid grey;
  padding: 10px;
  font-size: 35px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.outer-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid-wordle {
  display: grid;
  grid-gap: 5px;
  padding: 10px;
}

.grid-wordle .rows {
  display: grid;
  grid-template-columns: repeat(5, 0fr);
  grid-gap: 5px;
  font-size: 35px;
  text-align: center;
}

.grid-wordle .rows div {
  border: 1px solid grey;
  width: 60px;
  height: 58px;
}

.parent-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parent-container .button-rows button {
  border-radius: 6px;
  width: 62px;
  height: 65px;
  background-color: darkgrey;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.parent-container .button-rows {
  display: flex;
  justify-content: center;
}
