.App {
  background-color: black;
  color: white;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  border-bottom: 1px solid grey;
  padding: 10px;
  font-size: 35px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.outer-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
}

.grid-wordle {
  display: grid;
  grid-gap: 5px;
  padding: 10px;
}

.grid-wordle .rows {
  display: grid;
  grid-template-columns: repeat(5, 0fr);
  grid-gap: 5px;
  font-size: 35px;
}

.grid-wordle .rows div {
  border: 1px solid grey;
  width: 60px;
  height: 58px;
  text-align: center;
  vertical-align: middle;
  line-height: 65px;
}
.parent-container .button-rows button {
  border-radius: 6px;
  width: 62px;
  height: 65px;
  background-color: darkgrey;
  padding: 0;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.parent-container .button-rows {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .parent-container .button-rows button {
    width: 33px;
    height: 50px;
  }
  .grid-wordle .rows div {
    width: 60px;
    height: 60px;
    line-height: 55px;
  }
}

@media only screen and (min-width: 1920px) {
  .grid-wordle .rows div {
    width: 80px;
    height: 80px;
    line-height: 70px;
    font-size: 50px;
  }

  .outer-grid {
    margin-top: 2%;
  }
  .parent-container .button-rows button {
    width: 80px;
    height: 80px;
  }

  .parent-container {
    margin-top: 1%;
  }
}
